.first-row {
    font-size: 2em;
     color: white;
     /* margin-left: 60px; */
}

.calendar-icon {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px !important;
    color: #ff6f00
}

.img-background {
    background-color: #D0D6D7;
    /* border: 4px solid black; */
    border-radius: 8px;
    box-shadow: -4px 4px 2px 0px rgba(0,0,0,0.75);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 80px
}

.weather-header {
    margin-top: 20px;
    font-size: 2em;
    color:#D0D6D7
}

.line {
    border-color: #ff6f00;
     max-width: 360px
}

.current-weather {
    font-size: 1.75em;
    color: white
}

.weather-button {
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
    max-width: 140px;
    box-shadow: -2px 2px 1px 0px rgba(0,0,0,0.75) !important
}

.button-row {
    padding-top:10px;
    margin-left:40px;
    text-align: center
}

